


SetEnv HTTP_MOD_REWRITE On





Options +FollowSymLinks
Options -Multiviews


RewriteEngine On


  
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 
RewriteRule ^(.*)$ index.php?url=$1 [PT,L]

